:root {
  --main-font: 'Open Sans', sans-serif;
  --title-font: 'Montserrat', sans-serif;
}

p, a, div {
  font-family: var(--main-font);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--title-font);
}
