<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Pride Badge</title>
  <link href="/css/main.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab" rel="stylesheet">
</head>

<body>
  <div id="app">
    <div class="sidebar">
      <div class="logo">
        <img src="/img/logo.svg" />
      </div>
      <h1>Pride Badge</h1>
      <h2>Options</h2>
      <ul>
        <li>SEXUALITY</li>
        <ul>
          <li v-for='item in sexualityItems'>
            <img src={{item.image}} /> {{item.name}}
          </li>
        </ul>
        <li>ROMANTIC</li>
        <ul>
          <li v-for='item in romanticItems'>
            <img src={{item.image}} /> {{item.name}}
          </li>
        </ul>
        <li>GENDER</li>
        <ul>
          <li v-for='item in genderItems'>
            <img src={{item.image}} /> {{item.name}}
          </li>
        </ul>
        <li>PREFERRED PRONOUNS</li>
        <ul>
          <li v-for='item in pronounItems'>
            <img src={{item.image}} /> {{item.name}}
          </li>
        </ul>
        <li>INTERESTS</li>
        <ul>
          <li v-for='item in interestItems'>
            <img src={{item.image}} /> {{item.name}}
          </li>
        </ul>
      </ul>
      <h2>Download</h2>
    </div>
    <div class="preview">
      <h2>Preview</h2>
    </div>
  </div>
  <script src="https://unpkg.com/vue"></script>
  <script src="/src/app.js"></script>
</body>

</html>
